main{
    width: 3000px;
    height: 2700px;
    background-color: black;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.beer-image{
    margin-left: 50px;
    width: 50px;
    padding: 5px, 5px, 5px 5px;
}

.beer-titles{
    font-family: arial;
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    list-style: none;
    width: auto;
    margin-top: 5px;
    border-style: double;
}

.beer-div{
    padding: 3px;
    border-color: white;
    border-style:solid;
    width: 155px;
    height: 480px;
}

.tag{
    font-family: arial;
    color: white;
    font-style: italic;
    list-style: none;
    padding: 5px;
}

.ingrlst{
    display: flex;
    justify-content: center;
    font-family: arial;

    padding: 10px;
}


.ingrtxt{
    text-align: center;
    font-family:arial;
    font-weight: 400;
    list-style: none;
}

#beer-list{
    margin-left: 150px;
    width: 900px;
    height: 2500px;
    background-color: blue;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
