main{
    width: 3000px;
    height: 2000px;
    background-color: black;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.beer-image{
    margin-left: 50px;
    width: 50px;
    padding: 5px, 5px, 5px 5px;
}

.beer-titles{
    font-family: arial;
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    list-style: none;
    width: auto;
    margin-top: 5px;
    border-style: double;
}

.beer-div{
    padding: 3px;
    border-color: white;
    border-style:solid;
    width: 155px;
    height: 320px;
}

.tag{
    font-family: arial;
    font-style: italic;
    list-style: none;
    padding: 5px;
}


#beer-list{
    margin-left: 150px;
    width: 900px;
    height: 1800px;
    background-color: blue;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
